@font-face {
    font-family: "Elanor exBdlt";
    src: url("/assets/fonts/ElanorFreePersonalUse-ExBdIt.woff2") format("woff2"),
      url("/assets/fonts/ElanorFreePersonalUse-ExBdIt.woff") format("woff"),
      url("/assets/fonts/ElanorFreePersonalUse-ExBdIt.otf") format("otf");
  }
  
  @font-face {
    font-family: "Elanor Extra light";
    src: url("/assets/fonts/ElanorFreePersonalUse-ExtLt.woff2") format("woff2"),
      url("/assets/fonts/ElanorFreePersonalUse-ExtLt.woff") format("woff"),
      url("/assets/fonts/ElanorFreePersonalUse-ExtLt.otf") format("otf");
  }
  
  @font-face {
    font-family: "PPRadioGrotesk-Black";
    src: url("/assets/fonts/PPRadioGrotesk-Black.woff2") format("woff2"),
      url("/assets/fonts/PPRadioGrotesk-Black.woff") format("woff"),
      url("/assets/fonts/PPRadioGrotesk-Black.otf") format("otf");
  }
  
  @font-face {
    font-family: "PPRadioGrotesk-BlackItalic";
    src: url("/assets/fonts/PPRadioGrotesk-BlackItalic.woff2") format("woff2"),
      url("/assets/fonts/PPRadioGrotesk-BlackItalic.woff") format("woff"),
      url("/assets/fonts/PPRadioGrotesk-BlackItalic.otf") format("otf");
  }
  
  @font-face {
    font-family: "PPRadioGrotesk-Regular";
    src: url("/assets/fonts/PPRadioGrotesk-Regular.woff2") format("woff2"),
      url("/assets/fonts/PPRadioGrotesk-Regular.woff") format("woff"),
      url("/assets/fonts/PPRadioGrotesk-Regular.otf") format("otf");
  }
  
  @font-face {
    font-family: "PPRadioGrotesk-RegularItalic";
    src: url("/assets/fonts/PPRadioGrotesk-RegularItalic.woff2") format("woff2"),
      url("/assets/fonts/PPRadioGrotesk-RegularItalic.woff") format("woff"),
      url("/assets/fonts/PPRadioGrotesk-RegularItalic.otf") format("otf");
  }
  
  @font-face {
    font-family: "PPRadioGrotesk-UltralightItalic";
    src: url("/assets/fonts/PPRadioGrotesk-UltralightItalic.woff2")
        format("woff2"),
      url("/assets/fonts/PPRadioGrotesk-UltralightItalic.woff") format("woff"),
      url("/assets/fonts/PPRadioGrotesk-UltralightItalic.otf") format("otf");
  }
  
  @font-face {
    font-family: "PPRadioGrotesk-Ultralight";
    src: url("/assets/fonts/PPRadioGrotesk-Ultralight.woff2") format("woff2"),
      url("/assets/fonts/PPRadioGrotesk-Ultralight.woff") format("woff"),
      url("/assets/fonts/PPRadioGrotesk-Ultralight.otf") format("otf");
  }
  